@import '../variables';
.list {
    color: $grey-4;
    list-style: none;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    border-radius: 5px;

    &__clear-all {
      cursor: pointer;
    }

    &__clear-completed {
      cursor: pointer;
      &:hover {
        color: $grey-4;
      }
    }

    &__controls, &__controls-dark {

      @include list-row-styling;
      
      .list__filters, .list__filters-dark {
        cursor: pointer;
        font-weight: 800;
        flex: 0 0 40%;
        justify-content: space-between;
        display: flex;

        span {
          display: inline-block;
        }

        :hover {
          color: $grey-4;
        }
        &-active {
          color: $blue-1;
        }
      }

    }

    &__controls-dark {
      background-color: $blue-3;
    }

    &__empty {
      @include list-row-styling;
      border-bottom: solid 1px $white-2;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 5;
      border-top-right-radius: 5;
    }
  }

  @media only screen and (max-width: 600px) {
    .list {
      &__clear-completed, &__items-left {
        display: none;
      }

      &__controls, &__controls-dark {
        
        .list__filters, .list__filters-dark {
          flex: 0 0 50%;
          margin: 0 auto;
        }
      }
    }
  }