@import '../variables';
.list {
    color: $grey-4;
    list-style: none;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    border-radius: 5px;

    &__clear-all {
      cursor: pointer;
    }

    &__clear-completed {
      cursor: pointer;
      &:hover {
        color: $grey-4;
      }
    }

    &__controls {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border: none;
      padding: 2rem 1rem;
      font-size: 1.4rem;
      font-family: inherit;
      color: $grey-3;
      background-color: $white;
      display: flex;
      align-items: center;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      
      .list__filters {
        cursor: pointer;
        font-weight: 800;
        flex: 0 0 40%;
        justify-content: space-between;
        display: flex;

        span {
          display: inline-block;
        }

        :hover {
          color: $grey-4;
        }
        &-active {
          color: $blue-1;
        }
      }
    }


  }

  @media only screen and (max-width: 600px) {
    .list {
      &__clear-completed, &__items-left {
        display: none;
      }

      &__controls {
        
        .list__filters {
          flex: 0 0 50%;
          margin: 0 auto;
        }
      }
    }
  }