@import '../variables';
input[type="checkbox"] {
    width: 1.3em;
    height: 1.3em;
    background-color: $white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid $grey-2;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

    &:checked {
        background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
    }
}

li.list-item {
    width: 100%;
    border: none;
    padding: 2rem 1rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: $grey-4;
    background-color: $white;
    
    &:not(:last-child) {
        border-bottom: solid 1px $white-2;
    }

    &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}