@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');
@import '_variables.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: $grey-1;
  font-size: 1.6rem;
}

.header {
  background-size: cover;
  background-image: url('./assets/images/bg-desktop-light.jpg');
  height: 30rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      text-transform: uppercase;
      color: $white;
      padding: 10rem 0;
      font-size: 5rem;
      letter-spacing: 10px;
    }
  }

  
}

.container {
  width: 40%;
  margin: 0 auto;
}

main {
  margin-top: -10rem;
}

form {
  margin-bottom: 2rem;
  
  input {
    width: 100%;
    border: none;
    padding: 2rem 1rem;
    font-size: 1.8rem;
    border-radius: 5px;
    font-family: inherit;
    color: $grey-3;

    &::placeholder {
      color: $grey-3;
    }
    &:active, &:focus {
      border-style: none;
      outline: none;
    }
  }
}

.center-text {
  text-align: center;
}

.description {
  color: $grey-3;
  margin: 2rem 0;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 60%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}